@media screen and (max-width: 600px) {
    body {
        flex-direction: column;
        row-gap: 20px;
    }
    .left-side-container {
        width: 100%;
    }
    .right-side-container {
        width: 100%;
    }
}