* {
  box-sizing: border-box;
}
body {
  margin: 5%;
  display: flex;
  column-gap: 40px;
  background: #f2f2f2;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}
.left-side-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  row-gap: 40px;
}
.right-side-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  row-gap: 40px;
}

.personal-details,
.experiences,
.project,
.hobbies,
.blog,
.expertise-container-1,
.expertise-container-2 {
  background: white;
  padding: 30px;
  border-radius: 12px;
}
.profile-photo {
  width: 100%;
}
.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #4f4f4f;
  margin-bottom: 6px;
}
.job-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.email,
.contact-number {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4f4f4f;
  overflow-wrap: break-word;
}
.email {
  margin-bottom: 6px;
  width: 100%;  
}
.personal-details {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.personal-details p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.experiences {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.experience {
  display: flex;
  column-gap: 1.5vw;
}
.projects {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.project {
  display: flex;
  column-gap: 3%;
}
.project-img {
  width: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.exp-img {
  width: 100px;
  height: 100px;
}

.hobby img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}
.hobbies {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.blog {
  display: flex;
  column-gap: 3%;
}
.blogs {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
img {
  border-radius: 12px;
}
.blog-text {
  width: 100%;
}
.blog img {
  width: 30vw;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}
.expertise {
  display: flex;
  column-gap: 30px;
}
.expertise-container-1 {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.expertise-container-2 {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.marker-base {
  /* width: 236.85px; */
  width: 50%;
  height: 9.6px;
  background-color: #c4c4c4;
  border-radius: 12px;
}

.marker {
  height: 9.6px;
  border-radius: 12px;
  background-color: #2f80ed;
}
.skill-1 {
  width: 80%;
}
.skill-2 {
  width: 65%;
}
.skill-3 {
  width: 75%;
}
.skill-4 {
  width: 40%;
}
.skill-5 {
  width: 40%;
}
.skill-6 {
  width: 50%;
}
.skill-7 {
  width: 75%;
}
.skill-8 {
  width: 90%;
}
.expertise-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4f4f4f;
  margin-bottom: 5px;
}
.heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4f4f4f;
}
.tags {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4f4f4f;
}
.project-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}
.project-details {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.project-btn-1 {
  color: white;
  width: 136.27px;
  height: 46px;
  background: #2f80ed;
  border-radius: 12px;
  border: 0;
  font-size: 18px;
  margin-right: 10px;
}
.project-btn-1:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}
.project-btn-2:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
  }
.project-btn-2 {
  color: #2f80ed;
  background-color: white;
  width: 119.11px;
  height: 46px;
  border: 1px solid #2f80ed;
  border-radius: 12px;
  font-size: 18px;
}
.project-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.experiences-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #4f4f4f;
}
.exp-period {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
.exp-company-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}
.exp-details {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.hobbies-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #4f4f4f;
}
.hobby-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
.hobby {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.content-type {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #e0e0e0;
}
.blog-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}
.blog-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #2f80ed;
}
.blog-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 8px;
}
