@media screen and (max-width: 1250px) {
    body {
        column-gap: 20px;
    }
    .project {
        flex-direction: column;
    }
  
    .left-side-container {
        width: 40%;
        row-gap: 20px;
    }
    .right-side-container {
        width: 60%;
        row-gap: 20px;
    }
    .expertise {
        flex-direction: column;
        row-gap: 20px;
    }
    .expertise-container-1, .expertise-container-2 {
        width: 100%;
    }
   
    .blog {
        flex-direction: column;
        row-gap: 10px;
    }
    .experience {
        flex-direction: column;
        row-gap: 10px;
    }
    .project-img {
        width: 100%;
    }
    .blog img {
        width: 100%;
    }
    .projects, .blogs, .expertise {
        row-gap: 10px;
    }
    .blog img {
        order: -1;
    }
    .project {
        row-gap: 30px;
    }
    .project-details, .project-details-container {
        row-gap: 10px;
    }
    .project-buttons {
        display: flex;
    }
    .experiences {
        row-gap: 40px;
    }
    
    
    

}